html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#controls {
    width: 90%;
    height: 100%;
    opacity: 75%;
}

#outer-container {
    padding: 15pt;
    width: 400%;
    height: 150px;
}

#description {
    padding: 10px 10px 0px 10px;
    font-size: 9.5pt;
    width: 400%;
}


#titleDiv {
    padding: 10px;
}

#titleText {
    font-size: 18pt;
    padding-bottom: 10px;
}
